@import "bootstrap/scss/bootstrap/";

input[type="checkbox"],[type="radio"] {
  margin-left: 10px;
}
input[type="text"],select {
  max-width: 300px;
  margin: 0 auto;
}
.st {
  &-Header {
    height: 80px;
    background: #ff8484;
    color: #fff;
    text-align: center;
    h4 {
      line-height: 80px;
    }
  }
  &-Container {
    main {
      background: #ececec;
      padding-bottom: 50px;
    }
  }
  &-Content {
    padding-top: 60px;
    text-align: center;
    width: calc(100% - 30%);
    margin: 0 auto;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
  &-Footer {
    text-align: center;
    background: #fff;
    color: #999;
  }
}

.history {
  &-Content {
    margin-top: 50px;
    h5 {
      border-bottom: solid 5px #ff8484;
      display: inline-block;
    }
  }
  &-CardList {
    margin-top: 30px;
    list-style: none;
    padding: 0 10px;
  }
  &-Card {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    a {
      display: flex;
      align-items: center;
    }
    img {
      height: 150px;
      width: 35%;
      object-fit: cover;
      object-position: center center;
    }
    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }
  }
}