body{
    overflow-x: hidden;
}

.container {
    font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    text-align: center;
    max-width: 100%;
    margin-top: 60px;
}

.table{
	font-size: 1rem;
    margin: 0 auto;
    white-space: nowrap;
    margin-top:50px;
}

.table, th, td {
    border: none;
}

.table tr th {
    font-size: 5px;
}

.table tr th:after {
    content: ":";
}
#tag {
    border: 1px solid silver;
    height: 25px;
    width: 130px;
}
#num {
    border: 1px solid silver;
    height: 25px;
    width: 50px;
}
#search_word {
    border: 1px solid silver;
    border-radius: 4px;
    height: 20px;
}

#login {
    font-size: 20px;
    margin: 30px;
}

#open {
    cursor: pointer;
    border-bottom: 1px solid;
    font-size: 20px;
    display: inline-block;
    margin-top: 30px;
}

#open:hover {
    color: #4444;
}
.history {
    text-align: left;
}
