.container {
    font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    text-align: center;
    max-width: 100%;
}

.table{
	font-size: 1rem;
    margin: 0 auto;
    white-space: nowrap;
}

.table, th, td {
    border: none;
}

.table tr th {
    font-size: 5px;
}

.table tr th:after {
    content: ":";
}

#search_word {
    border: 1px solid silver;
    border-radius: 4px;
    height: 20px;
}

#login {
    font-size: 20px;
    margin: 30px;
}

#open {
    cursor: pointer;
    border-bottom: 1px solid;
    font-size: 20px;
    margin: 30px;
}

#open:hover {
    color: #4444;
}
