<!-- index.html -->
<!DOCTYPE html>
<html lang="ja">
  <head>
  </head>
  <body>
    <h1>Hello from index.html</h1>
    <form action="/test" method="post">
      <select name="tag" id="">
        <option value="1">すべて</option>
        <option value="2">1軍</option>
        <option value="3">どーが</option>
        <option value="4"></option>
      </select>
      <select name="num" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      <button type='submit'>開く</button>
    </form>
    <form action="/refresh" method="post">
      <button type='submit'>更新</button>
    </form>
    <a href="https://www.nicovideo.jp/my/top" target='_blank'>クサクサ</a>
  </body>
</html>