<!-- index.html -->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=400,initial-scale=1.0" user-scalable=no>
    <link rel="stylesheet" href="../static/index.css">
    <script>

    </script>
  </head>
  <body>
    <h1>Random Pick for Pocket</h1>
    <div id="app">
      <!-- <form action="/open" method="post"> -->
      <select v-model="formData.tags" name="tags" id="">
            <option value="ALL">ALL</option>
        {% for t in tags %}
            <option value="{{t}}">{{t}}</option>
        {% endfor %}
            <option value="NoTag">NoTag</option>
      </select>


      <select v-model="formData.num" name="num" id="">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
        <!-- <button type='submit'>オープン</button> -->
      <button v-on:click="open" type='submit'>オープン</button>
      <!-- </form> -->


    <form action="/refresh" method="post">
      <button type='submit'>更新</button>
    </form>
    <form action="/logout" method="post">
      <button type='submit'>ログアウト</button>
    </form>
    <!-- <button v-on:click="refresh" type='submit'>更新</button> -->
    現在のpocket数：
    <ul class="history">
      <li v-for="item in history.reverse()">
        <a v-bind:href="item.url" target="_brank">[[ item.title ]]</a>
      </li>
    </ul>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../static/index.js"></script>


  </body>
</html>