doctype
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=360,initial-scale=1")
        link(rel="stylesheet" type="text/css" href="/css/index.css")
        title random Pocket opener
    body
        script(src="https://unpkg.com/axios/dist/axios.min.js")
        script(type="text/javascript" src="/js/index.js")
        div(class="container")
            h2(class="ui header") Random Pocket Opener
            p Pocketに保存されているアイテムをランダムに開きます。
            if logged_in==undefined
                a(id="login" href='/login') #login
            else
                table(class="table" border="1")
                    tbody
                        tr
                            th タグ
                            td
                                div(class="ui action input")
                                    select(name="tag_list" id="tag")
                                        each item in tag_list
                                            option(value=item) #{item}
                            th ワード
                            td
                                input(type="text" id="search_word")
                        tr
                            th 表示数
                            td
                                select(name="num_list" id="num")
                                    - for (var i = 1; i < 11; i++)
                                        option(value=i) #{i}
                            th タブで開く
                            td
                                input(type="checkbox" checked)
                span(id="open" onclick="openUrl();") #open
                div(style="margin-left:auto;")
                    a(href="/logout") #logout
